@model Kategori
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="~/css/kategoriekle.css" rel="stylesheet" />
<header class="ccheader">
    <h1>Ürün Ekle</h1>
</header>

<div class="wrapper">
    <form method="post" action="@Url.Action("Ekle","Home")" class="ccform">
        @Html.AntiForgeryToken()
        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-user fa-2x"></i></span>
            <input class="ccformfield" name="urun_ad" type="text" placeholder="Ürün Adı" required>
        </div>

        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-envelope fa-2x"></i></span>
            @Html.DropDownListFor(m => m.KategoriId, (List<SelectListItem>)ViewBag.Ktg)

        </div>
        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-mobile-phone fa-2x"></i></span>
            <input class="ccformfield" name="miktar" type="text" placeholder="Miktar">
        </div>
        <div class="ccfield-prepend">
            <input class="ccbtn" type="submit" value="Submit">
        </div>
    </form>
</div>