@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Login Form HTML CSS | CodingNepal</title>

    <link href="~/css/Loginstyle.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form action="/Home/SifremiUnuttum" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="kod" value="@ViewBag.Kod" />
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="mailinize gelen kodu giriniz" name="_kod" required />
            </div>

            <div class="row button">
                <input type="submit" value="Gönder" />
            </div>

        </form>
    </div>
</body>
</html>
